spring:
  datasource:
    url: jdbc:mysql://localhost:3306/boardgame
    username: root
    password: 1111
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  servlet:
    session:
      timeout: 15m

kakao:
  address-api-url: "https://dapi.kakao.com/v2/local/search/keyword.json"
  api-key: "06b148d53b401fd4eb0188baad142f45"

frontend:
  url: "http://localhost:8100" # 프론트엔드 URL

